body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    flex: 1 1 auto;
}

.header, .information, .quote, .sign-up, .footer {
    padding: 0px 100px 0px;
}

.header {
    display: flex;
    flex-direction: column;
}

.header-up {
    display: flex;
    justify-content: space-between;
    padding: 8px 0px 8px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    gap: 8px;
}

.header-down {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.header-left {
    padding-top: 50px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding: 2px;
    padding-left: 0px;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
    padding: 4px;
    padding-left: 0px;
}

.header-button {
    background-color: #3882F6;
    border: none;
    color: #E5E7EB;
    padding: 8px 20px 8px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    margin: 0px;
}

.header-img {
    height: 200px;
    width: auto;
}

.header-right {
    padding: 50px 0px 0px 50px;
}

.information {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.information-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.photo {
    height: 150px;
    width: 150px;
    border-radius: 10%;
    border: 3px solid #3882F6;
}

.photo-text {
    width: 150px;
}

.quote {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #E5E7EB;
}

.quotation {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.cit {
    text-align: end;
    font-size: 24px;
    font-weight: 700;
}

.sign-up {
    padding-top: 100px;
    padding-bottom: 100px;
}

.banner {
    background-color: #3882F6;
    padding: 50px 100px 50px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between
}

.banner-text1 {
    font-size: 24px;
    font-weight: bolder;
}

.banner-text2 {
    font-size: 18px;
}

.sign-up-button {
    background-color: #3882F6;
    border: 1px solid #F9FAF8;
    color: #F9FAF8;
    border-radius: 10%;
    padding: px 30px 0px;
}

.footer {
    margin-top: auto;
    padding: 30px;
    text-align: center;
}

.header, .footer {
    background-color:  #1F2937;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}